@import url('https://fonts.googleapis.com/css2?family=Press Start 2P:wght@400;500;600&display=swap');* 



{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #ffffff;
  color: #111;
  line-height: 1.6;
}








nav {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  background: white;
  font-size: 1.1rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: all 0.2s ease;
}

nav a.active {
  font-weight: 600;
  border-bottom: 2px solid black;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
